<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:macro name="sign" params="prefix">
  <link name="${prefix}_sign">
    <visual>
      <geometry>
        <mesh filename="package://lettering_config/meshes/signs/${prefix}.STL"/>
      </geometry>
      <material name="blue">
        <color rgba="0 0 .8 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://lettering_config/meshes/collision/${prefix}.STL" />
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </collision>
  </link>

  <joint name="${prefix}_joint" type="fixed">
    <parent link="${prefix}_sign"/>
    <child link="${prefix}_letters"/>
  </joint>

  <link name="${prefix}_letters">
    <visual>
      <geometry>
        <mesh filename="package://lettering_config/meshes/letters/${prefix}.STL" />
      </geometry>
      <material name="white"/>
    </visual>
  </link>
</xacro:macro>
</robot>
